<p>editstudent works!</p>
<div *ngIf="message" class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Updated Succesfully</strong> 
  <button (click)="removemsg()"  type="button"  data-bs-dismiss="alert" aria-label="Close">X</button>
</div>

<form [formGroup]="Editform" (ngSubmit)="edit()">
    <p>
      <label for="Name">Name</label>
      <input type="text" name="name" formControlName="name">
      <!-- <span *ngIf="Myform.get('firstname').hasError('required')">Enter the firstname</span> -->
      </p>
  
      <p>
        <label for="E-mail">E-mail</label>
        <input type="text" name="email" formControlName="email">
      </p>
  
      <p>
        <button type="submit">Edit</button><br>
        <!-- <button type="reset">Reset</button> -->
      </p>
  </form>
